# Configurações do Flask
SECRET_KEY=chave_secreta_academia_desenvolvimento
COOKIE_SECURE=false

# Banco de Dados PostgreSQL
DATABASE_URL=postgresql+psycopg2://usuario:senha@localhost/academia3_db

# Configurações de E-mail (Gmail via smtplib)
# Tutorial de configuração do Gmail: https://youtu.be/foWfdOJ9KKc?si=v0epWuLZNS4Q309y
EMAIL_REMETENTE=seu_email@gmail.com
EMAIL_SENHA=sua_senha_de_aplicativo_aqui

# Servidor SMTP (Padrão Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
