<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
{%if erro%}
    <div class="msg">
   {{erro}}
    </div>
{%endif%}

        <a href="/logout">sair</a>
    <div class="conteudo">
        <form action="/cadastrar" method="post">
            <p>PAGINA DE CADASTRO</p>
            <label>Nome</label><br>
            <input type="text" name="nomeusuario"><br>
            <label>Usuario</label><br>
            <input type="text" name="loginusuario"><br>
            <label>Data de Nascimento</label><br>
            <input type="date" name="dataNascimento"><br>
            <label>Senha:</label><br>
            <input type="password" name="senhausuario"><br>
            <label>Email</label><br>
            <input type="text" name="emailusuario"><br>
            <label>Telefone</label><br>
            <input type="text" name="telefoneusuario"><br>
            <label>CPF</label><br>
            <input type="text" name="cpfusuario"><br>
            <button type="submit">CADASTRAR</button>
        </form>
    </div>
</body>
</html>