<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela Inicial - Academia</title>
    <!-- Use a sintaxe do Flask para carregar o CSS com segurança -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="conteudo">
        <img width="150px" height="80px" src="../static/imagens/logo.png">

        <div class="botoes-container">
            <a href="/login" class="btn btn-login">Entrar</a>
            <a href="/cadastrar" class="btn btn-cadastro">Cadastrar</a>
        </div>
    </div>

</body>
</html>