<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela Inicial - Academia</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/moldaljs.css">
</head>
<body>
    <div class="conteudo">
        <img width="150px" height="80px" src="../static/imagens/logo.png">

        <div class="botoes-container">
            <button type="button" class="btn btn-login" onclick="abrirmodal()">Entrar</button>
            <a href="/cadastrar" class="btn btn-cadastro">Cadastrar</a>
        </div>
    </div>

    <div id="meuModal" class="modal">
        <div class="modal-conteudo">
            <button type="button" class="fechar-modal" onclick="fechar()" aria-label="Fechar">
                &times;
            </button>

            <form action="/login" method="post">
                <h2>PAGINA DE LOGIN</h2>
                <label>Usuario:</label>
                <input type="text" id="inputnome" name="loginusuario">
                <label>Senha:</label>
                <input type="password" name="senhausuario">
                <button type="submit">ENTRAR</button>
            </form>
            <a href="/recuperar_senha" class="recuperar">RECUPERAR SENHA</a><br>
            <a href="/cadastrar" class="meulink">Não tem conta? Cadastre-se</a>
        </div>
    </div>

    <script src="../static/js/index.js"></script>
</body>
</html>
