<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
{%if msg %}
    <div class="msg">
    {{msg}}
    </div>
{%endif%}
{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% for categoria, mensagem in mensagens %}
        <div class="msg msg-{{ categoria }}" role="status">{{ mensagem }}</div>
    {% endfor %}
{% endwith %}
    <div class="conteudo">
        <form action="/login" method="post">
            <h2>PAGINA DE LOGIN</h2>
            <label>Usuario:</label><br>
            <input type="text" name="loginusuario"><br>
            <label>Senha:</label><br>
            <input type="password" name="senhausuario"><br>
            <button type="submit">ENTRAR</button>
        </form>
        <a href="/recuperar_senha" class="recuperar">RECUPERAR SENHA</a> <br>
        <a href="/cadastrar" class="meulink">Não tem conta? Cadastre-se</a>
    </div>

</body>
</html>
