<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="/static/css/recuperar.css">
</head>
<body>
    <div class="conteudo">
        <form action="/recuperar_senha" method="post">
            <p>RECUPERAR SENHA</p>

            {% if erro %}
                <div class="msg">{{ erro }}</div>
            {% endif %}

            {% if mensagem %}
                <div class="msg msg-informacao">{{ mensagem }}</div>
            {% endif %}

            <label>Qual o seu CPF?</label>
            <input type="text" name="cpf" required>

            <label>Qual o seu e-mail cadastrado?</label>
            <input type="email" name="email" autocomplete="email" required>

            <button type="submit">ENVIAR LINK</button>

            <a href="/login" class="link-voltar">Voltar ao Login</a>
        </form>
    </div>
</body>
</html>
